.plan-container {
    height: 100%;
}

.plan-header {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid red;
}

.plan-header-icon {
    position: absolute;
    left: 6px;
}

.plan-header-title {}

.plan-current-container {
    padding: 7px;
    margin-top: 12px;
    height: calc(50% - 43px);
    border-bottom: 2px solid #F1F1F1;
}

.plan-current-header {
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
}

.plan-current-title {
    font-weight: 600;
}

.plan-current-edit {}

.plan-list-container {
    height: calc(50% - 55px);
    padding: 7px;
    margin-top: 12px;
}

.plan-list-header {
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
}

.plan-list-title {
    font-weight: 600;
}

.plan-list-edit {
    color: red;
    cursor: pointer;
}

.plan-list-edit i {
    text-decoration: underline;
    font-size: 13px;
}

.table-plan {
    border: 1px solid #dddddd;
    padding: 3px;
    text-align: center;
}

.plan-container .MuiTableCell-root {
    font-size: 10px!important;
}

.plan-container .MuiTableCell-sizeSmall {
    padding: 5px;
}

.dx-treeview-item-with-checkbox .dx-checkbox {
    left: unset !important;
    right: 0;
}

.dx-treeview-with-search .dx-texteditor.dx-editor-outlined {
    width: 230px;
}

.dx-treeview-with-search .dx-scrollbar-vertical {
    right: -12px !important;
}

.dx-treeview-with-search > .dx-scrollable {
    padding: 0px 5px !important;
}

.dx-treeview-item-with-checkbox .dx-treeview-item {
    padding-left: 6px !important;
}

.dx-checkbox-indeterminate .dx-checkbox-icon::before {
    background-color: transparent !important;
}

.dx-searchbox .dx-icon-search::before {
    color: red !important;
}

.dx-checkbox-checked .dx-checkbox-icon {
    color: #000 !important;
}

.dx-treeview-toggle-item-visibility.dx-treeview-toggle-item-visibility-opened::before {
    margin-left: -14px;
    font-size: 30px;
}