.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.range-date.rmdp-shadow {
  box-shadow: none !important;
}

.range-date .rmdp-day:hover {
  background-color: #D8E3FF !important;
  color: #EC1B2E !important;
}

.range-date .rmdp-range {
  background-color: #D8E3FF;
  font-weight: 500 !important;
  color: #EC1B2E;
}

.range-date .start {
  color: #FFFFFF;
  border-radius: 4px !important;
  background-color: #EC1B2E !important;
}

.range-date .end {
  color: #FFFFFF;
  border-radius: 4px !important;
  background-color: #EC1B2E !important;
}